<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h3>Zoeken naar films:</h3>
    <form v-on:submit.prevent="getMovie" class="search">
      <input v-model="searchData" type="text">
      <button>Zoeken</button>
    </form>
    <div class="results">
      <h2>Resultaten</h2>
      
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexComponent',
  props: {
    msg: String,
  },
  data () {
    return {
      movies: '',
      searchData: '',
    }
  },
  methods: {
    getMovie: function() {
      var url = 'http://laravelapi.test/api/search/movie/' + this.searchData
      fetch(url, {
        method: 'GET',
      })
      .then(
        function(response) {
          if (response.status !== 200) {
            console.log('Er is iets fout gegaan: ' + response.status);
            return;
          }
          response.json().then(function(data) {
            console.log(data);
          });
        }
      )
      .catch(function(err) {
        console.log('Error', err);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.search {
  display: inline-grid;
}
</style>
